@inject ITextLocalizer Localizer
@if (ViewData["Activated"] != null)
{
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close btn-close" data-dismiss="alert" data-bs-dismiss="alert" aria-hidden="true"></button>
        <h4><i class="icon fa fa-info"></i>@Localizer.Get("Dialogs.InformationTitle")</h4>
        @Texts.Forms.Membership.SignUp.ActivationCompleteMessage.ToString(Localizer)
    </div>
}